USE [master]
GO
/****** Object:  Database [projekPemlan]    Script Date: 21/05/2025 20:04:43 ******/
CREATE DATABASE [projekPemlan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projekPemlan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\projekPemlan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'projekPemlan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\projekPemlan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projekPemlan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projekPemlan]
GO
/****** Object:  Table [dbo].[kategori]    Script Date: 21/05/2025 20:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategori](
	[kategori_id] [int] IDENTITY(1,1) NOT NULL,
	[nama_kategori] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[kategori_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maks_pengeluaran]    Script Date: 21/05/2025 20:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maks_pengeluaran](
	[user_id] [int] NOT NULL,
	[bulan] [int] NOT NULL,
	[tahun] [int] NOT NULL,
	[batas_pengeluaran] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[bulan] ASC,
	[tahun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaksi]    Script Date: 21/05/2025 20:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaksi](
	[transaksi_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[kategori_id] [int] NOT NULL,
	[tanggal] [date] NOT NULL,
	[jumlah] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaksi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 21/05/2025 20:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[maks_pengeluaran]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[transaksi]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[transaksi]  WITH CHECK ADD FOREIGN KEY([kategori_id])
REFERENCES [dbo].[kategori] ([kategori_id])
GO
ALTER TABLE [dbo].[maks_pengeluaran]  WITH CHECK ADD CHECK  (([bulan]>=(1) AND [bulan]<=(12)))
GO
USE [master]
GO
